.no-history {
  padding: 10px;
  text-align: center;
  margin-top: 50px;
}
.toolbar {
  background-color: white;
  color: black;
}
.history-entry {
  padding: 20px;
  background-color: lightblue;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 50%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  
}
.history-entry p {
  margin: 5px 0;
  color: white;
  text-align: center;
  text-decoration: bold;
}
.search-bar {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 80%;
  max-width: 400px;
  border-radius: 8px;
  border: 1px solid #ccc;
}