<ion-header>
  <ion-toolbar class="toolbar" color="white">
    <ion-title>
      History Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">History</ion-title>
    </ion-toolbar>
  </ion-header>

    <input 
  type="text"
  class="search-bar"
  [(ngModel)]="searchTerm"
  placeholder="Search by category..."
/>

  <div *ngIf="history.length === 0" class="no-history">
    <p>No quiz history found.</p>
  </div>

  <div *ngFor="let entry of getFilteredHistory()" class="history-entry">
    <ion-card (click)="showQuestionDetails(entry)" button="true">
      <ion-card-header>
        <ion-card-title>{{ entry.category }}</ion-card-title>
        <ion-card-subtitle>{{ entry.difficulty }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Score: {{ entry.score }} / {{ entry.total }}</p>
        <p>Date: {{ entry.date }}</p>
      </ion-card-content>
    </ion-card>
  </div>   
</ion-content>
