.toolbar {
  background-color: white;
  color: black;
}
.category-grid {
  display: grid;
  color:black;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  background-color: purple;
  margin-top: 16px;
}

.category-card {
  padding: 5px;
  border-radius: 10px;
  background-color: orange;
  opacity: 1.2;
  text-align: center;
  cursor: pointer;

  &.selected {
    border-color: red;
    background: black;
    color: red;
  }
}
.difficulty-selection {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.difficulty-select {
  padding: 12px 18px;
  border-radius: 10px;
  background-color: orange;
  color: black;
  cursor: pointer;
  text-align: center;

  &.selected {
    border-color: red;
    background: black;
    color: red;
  }
}
.h4 {
  text-align: left;
  margin-top: 20px;
}
.amount-selection {
  margin-top: 12px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.amount-select {
  padding: 12px 18px;
  background-color: orange;
  color: black;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;

  &.selected {
    border-color: red;
    background: black;
    color: red;
  }
}
.start-button {
  margin-top: 50px;
  justify-content: center;
  color: white;
  background-color: red;
  border-radius: 15px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;

  &:active {
    background-color: darkred;
  }
}