.category-grid {
  display: grid;
  color:black;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  background-color: black;
  margin-top: 16px;
}

.category-card {
  padding: 15px;
  border-radius: 9px;
  border: 2px solid red;
  background-color: yellow;
  opacity: 1.2;
  text-align: center;
  cursor: pointer;

  &.selected {
    border-color: red;
    background: white;
    color: black;
  }
}