.toolbar
{
    background-color: white;
    color: black;
}
.results-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.button-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.home-button {
    gap: 10px;
    border-radius: 8px;
    height: 100px;
    width: 300px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: red;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.share-button{
    gap: 10px;
    border-radius: 8px;
    height: 50px;
    width: 50px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.share-icon {
    width: 50px;
    height: 50px; 
    filter: brightness(0) invert(1);
}